spring:
  application:
    name: blog-app

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/blog_db
    username: postgres
    password: password


    jpa:
        hibernate:
            ddl-auto: validate

        show-sql: true

        properties:
            hibernate:
              format_sql: true
