spring:
  application:
    name: blog-app

  profiles:
    active: dev

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${PG_URL:}
    username: ${PG_USER}
    password: ${PG_PASSWORD}


  jpa:
      hibernate:
          ddl-auto: validate

      show-sql: true

      properties:
          hibernate:
            format_sql: true

  flyway:
    enabled: true
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}


application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration: ${JWT_EXPIRES_IN}


management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics

  endpoint:
    health:
      show-details: always